<html>
	<head>
		<title>Kurdish Arabic-based Keyboard Layout for Windows and Macintosh</title>
	</head>
	<body>
		<h2>The Hejar Arabic-based Kurdish Keyboard Layout</h2>
		<blockquote>
			<h3>for Windows 7</h3>
			<ul>
				<li>The setup files <a href="hejar.zip">here</a>
					<ul>
						<li>NOTICE1: this is  a keyboard layout for Soani Kurdish built for those who are used to type in Persian (it has been based on the standard Persian keyboad).</li>
						<li>NOTICE2: the new layout will be automatically added to the language bar. It uses the AR abbreviation of the Arabic Language (Iraq).</li>
					</ul>
				</li>
				<li>The actual layout file <a href="SoraniKurdishKeyboardLayout.zip">here</a> (for modification or custom installation purposes)</li>
				<li>Snapshots of the layout: <a href="normal.jpg">normal</a>  (comapre it to the original <a href="normal_persian.jpg">Persian layout</a>). The with-shift-key-down <a href="with_shift.jpg">version</a> has not been modified.</li>
			</ul>

				<i><u>Have problems?</u> Use <a href="http://msdn.microsoft.com/en-us/goglobal/bb964665.aspx">Microsoft Keyboard Layout Creator</a> and make your own keyboard layout! </i>
		</blockquote>

		<blockquote>
			<h3>for Mac OS</h3>
			<ul>
			    <li>Follow these steps</li>
			    	<ul>
			    		<li>Download the compressed layout file from <a href="Sorani.zip">here</a></li>
			    		<li>Unzip it. You should have a file with the name: Sorani.keylayout</li>
			    		<li>Copy the layout file  to the Keyboard Layouts folder within /Library or ~/Library;
			    		<li>Now an 'Kurmanji'  item is enabled via the Input Sources (Input in 10.5 and earlier) tab of the Language & Text (International in 10.5 and earlier) module within System Preferences.</li>
			    		<li>NOTICE: this is  a keyboard layout for Soani Kurdish built for those who are used to type in Persian (it has been based on the standard Persian keyboad).</li>
			    	</ul>
				<li>Snapshots of the layout: <a href="normal.jpg">normal</a>  (comapre it to the original <a href="normal_persian.jpg">Persian layout</a>). The with-shift-key-down <a href="with_shift.jpg">version</a> has not been modified.</li>

			</ul>

			<i><u>Have problems?</u> Use <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=ukelele">Ukelele  </a> (a unicode keyboard layout editor for Mac OS X) and make your own keyboard layout! </i>
		</blockquote>

		<p>
		Created by <a href="http://eng.uok.ac.ir/esmaili/">Kyumars Sheykh Esmaili</a>.
		<p>
	</body>
</html>