<html>
	<head>
		<title>Kurdish Latin-based Keyboard Layout for Windows and Macintosh</title>
	</head>
	<body>
		<h2>The Bedirxan Latin-based Kurdish Keyboard Layout </h2>
		<blockquote>
			<h3>for Windows 7</h3>
			<ul>
				<li>The setup files <a href="bedirxan.zip">here</a>
					<ul>
						<li>Notice: the new layout will be automatically added to the language bar. It uses the KO abbreviation (of the Korean language!)</li>
					</ul>
				</li>
				<li>The actual layout file <a href="KurdishLatinKeyboardLayout.zip">here</a> (for modification or custom installation purposes)</li>
				<li>Snapshots of the layout: <a href="normal.jpg">normal</a> + <a href="with_shift.jpg">with the shift key</a> (same as Caps Lock on).</li>
			</ul>

			<i><u>Have problems?</u> Use <a href="http://msdn.microsoft.com/en-us/goglobal/bb964665.aspx">Microsoft Keyboard Layout Creator</a> and make your own keyboard layout! </i>
		</blockquote>

		<blockquote>
			<h3>for Mac OS</h3>
			<ul>
			    <li>Follow these steps</li>
			    	<ul>
			    		<li>Download the compressed layout file from <a href="Kurmanji.zip">here</a></li>
			    		<li>Unzip it. You should have a file with the name: Kurmanji.keylayout</li>
			    		<li>Copy the layout file  to the Keyboard Layouts folder within /Library or ~/Library;
			    		<li>Now an 'Kurmanji'  item is enabled via the Input Sources (Input in 10.5 and earlier) tab of the Language & Text (International in 10.5 and earlier) module within System Preferences.</li>
			    	</ul>
				<li>Snapshots of the layout: <a href="normal.jpg">normal</a> + <a href="with_shift.jpg">with the shift key</a> (same as Caps Lock on).</li>
			</ul>

			<i><u>Have problems?</u> Use <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=ukelele">Ukelele  </a> (a unicode keyboard layout editor for Mac OS X) and make your own keyboard layout! </i>
		</blockquote>

		<p>
		Created by <a href="http://eng.uok.ac.ir/esmaili/">Kyumars Sheykh Esmaili</a>.
		<p>
	</body>
</html>